.review-display {
  display: grid;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 340px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.feedback-display-key {
  font-weight: 600;
  text-align: left;
}

.feedback-display-value {
  /* margin-right: 40%; */
  text-align: right;
}
.feedback-display-value:not(.comments-display) {
  font-weight: 600; 
}