table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

th {
  font-weight: 550;
  padding: 10px;
}

thead tr {
  background-color: gray;
  color: white;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: lightgray;
}

td {
  min-width: 120px;
  padding: 7px;
  margin: 0;
}

td.red-bg {
  font-weight: bold;
  color: rgb(220, 0, 0);
}

.comments-cell {
  min-width: 250px;
}

.delete-btn {
  color: darkslategray;
  border: none;
  background: transparent;
}

.delete-btn:hover {
  color: black;
}

.delete-btn:active {
  color: red;
}